* @appuio/tarazed

*.json @gerbermichi @mircowidmer
*.ts @gerbermichi @mircowidmer
.browserslistrc @gerbermichi @mircowidmer
.editorconfig @gerbermichi @mircowidmer
.eslintrc.json @gerbermichi @mircowidmer
.prettierignore @gerbermichi @mircowidmer
cypress/ @gerbermichi @mircowidmer
src/ @gerbermichi @mircowidmer

docs/ @akosma
