* @appuio/aldebaran @corvus-ch

*.json @appuio/nxt-engineering
*.ts @appuio/nxt-engineering
.browserslistrc @appuio/nxt-engineering
.editorconfig @appuio/nxt-engineering
.eslintrc.json @appuio/nxt-engineering
.prettierignore @appuio/nxt-engineering
cypress/ @appuio/nxt-engineering
src/ @appuio/nxt-engineering

docs/ @akosma
