<div class="flex flex-row flex-wrap justify-content-between mb-2 gap-2">
  <h1 class="pt-0 mt-0 mb-0" i18n id="billingentities-title">Billing</h1>
</div>

<ng-container *ngIf="(billingEntityService.loading$ | ngrxPush) === false">
  <ng-container *ngFor="let billingEntity of billingEntities$| ngrxPush">
    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          {{ billingEntity.metadata.name }}
        </div>
        <div>
          <a
            [routerLink]="[billingEntity.metadata.name]"
            class="text-blue-500 hover:text-primary cursor-pointer mr-2"
            i18n-title
            title="Edit details">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap border-top-1 surface-border">
        <ul class="w-full list-none p-0 m-0 surface-border">
          <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
            <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
            <div class="text-900 w-full md:w-9">
              {{ billingEntity.spec.name }}
            </div>
          </li>
          <li *ngIf="billingEntity.spec.accountingContact"
              class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
            <div class="text-500 w-full md:w-3 font-medium" i18n>Invoice Recipient</div>
            <div class="text-900 w-full md:w-9">
              {{ billingEntity.spec.accountingContact.name }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-container *ngIf="billingEntityService.loading$ | ngrxPush">
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>

    <div class="flex flex-wrap border-top-1 surface-border">
      <ul class="w-full list-none p-0 m-0 surface-border">
        <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
          <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
          <div class="text-900 w-full md:w-9">&#8230;</div>
        </li>
      </ul>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(billingEntityService.loaded$ | ngrxPush) && (billingEntityService.count$ | ngrxPush) === 0">
  <p-messages severity="info">
    <ng-template pTemplate="content">
      <fa-icon [icon]="faInfo"></fa-icon>
      <div class="ml-2" i18n id="no-billingentity-message">No billing entities available.</div>
    </ng-template>
  </p-messages>
</ng-container>

<ng-container *ngIf="loadErrors() | ngrxPush">
  <p-messages severity="error">
    <ng-template pTemplate="content">
      <fa-icon [icon]="faWarning"></fa-icon>
      <div class="ml-2" i18n id="billingentity-failure-message">Billing entities could not be loaded.</div>
    </ng-template>
  </p-messages>
</ng-container>
