<ng-container *ngrxLet="payload$ as viewModel; suspenseTpl: loading; error as err">
  <ng-container *ngIf="viewModel">
    <div class="flex flex-row flex-wrap justify-content-between mb-2 gap-2">
      <h1 class="pt-0 mt-0 mb-0" i18n id="billingentities-title">Billing</h1>

      <div class="flex flex-wrap gap-2">
        <div>
          <button
            (click)="this.joinDialogService.showDialog()"
            class="mr-2 w-full white-space-nowrap"
            id="joinOrganizationButton"
            pButton pRipple
          >
            <fa-icon [icon]="faDollarSign" class="mr-2"/>
            <span i18n>Join Billing</span>
          </button>
        </div>
        <div *ngIf="viewModel.canCreateBilling">
          <button
            [routerLink]="['$new']"
            [queryParams]="{edit: 'y'}"
            class="w-full white-space-nowrap"
            id="addButton"
            pButton
            pRipple
          >
            <fa-icon [icon]="faAdd" class="mr-2" />
            <span i18n>Add new Billing</span>
          </button>
        </div>
      </div>

    </div>

    <ng-container *ngFor="let p of viewModel.billingModels">
      <div class="surface-card p-4 shadow-2 border-round mb-4">
        <div class="flex flex-row justify-content-between">
          <div class="text-3xl font-medium text-900 mb-3">
            {{ p.billingEntity.metadata.name }}
          </div>
          <div>
            <a *ngIf="p.canViewMembers" [routerLink]="[p.billingEntity.metadata.name, 'members']"
               class="text-blue-500 hover:text-primary cursor-pointer ml-3" i18n-title title="Edit members">
              <fa-icon [icon]="faUserGroup" />
            </a>
            <a
              [routerLink]="[p.billingEntity.metadata.name]"
              class="text-blue-500 hover:text-primary cursor-pointer ml-3"
              i18n-title
              title="View details">
              <fa-icon [icon]="faDetails" />
            </a>
            <a
              *ngIf="p.canEdit"
              [routerLink]="[p.billingEntity.metadata.name]"
              [queryParams]="{edit: 'y'}"
              class="text-blue-500 hover:text-primary cursor-pointer ml-3"
              i18n-title
              title="Edit details">
              <fa-icon [icon]="faEdit" />
            </a>
          </div>
        </div>
        <div class="flex flex-wrap border-top-1 surface-border">
          <ul class="w-full list-none p-0 m-0 surface-border">
            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
              <div class="text-900 w-full md:w-9">
                {{ p.billingEntity.spec.name }}
              </div>
            </li>
            <li *ngIf="p.billingEntity.spec.accountingContact"
                class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Invoice Recipient</div>
              <div class="text-900 w-full md:w-9">
                {{ p.billingEntity.spec.accountingContact.name }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="viewModel.billingModels.length === 0 && !err">
      <p-messages severity="info">
        <ng-template pTemplate="content">
          <fa-icon [icon]="faInfo" />
          <div class="ml-2" i18n id="no-billingentity-message">
            No billing address available.
            <span *ngIf="viewModel.canCreateBilling">Please create one first or ask to join an existing billing address.</span>
            <span *ngIf="!viewModel.canCreateBilling">Please ask to join an existing billing address.</span>
          </div>
        </ng-template>
      </p-messages>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning" />
        <div class="ml-2" i18n id="failure-message">Billing entities could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
