<div *ngIf="zone" class="surface-card p-4 shadow-2 border-round mb-4">
  <div class="flex flex-row flex-wrap justify-content-between align-items-center mb-3">
    <div class="text-3xl font-medium text-900" data-cy="zone-name">
      <a
        *ngIf="linkToDetailView"
        class="text-blue-500 hover:text-primary no-underline"
        [routerLink]="['/', 'zones', zone.metadata.name]">
        {{ zone.data.displayName }}
      </a>
      <ng-container *ngIf="!linkToDetailView">{{ zone.data.displayName }}</ng-container>
    </div>
    <div *ngIf="zone.data.urls[consoleUrlKey]">
      <a
        [href]="zone.data.urls[consoleUrlKey]"
        target="_blank"
        pButton
        role="buttom"
        class="no-underline"
        title="Opens the OpenShift Web Console for this zone."
        i18n
        i18n-title>
        OpenShift Web Console
      </a>
    </div>
    <div>
      <a
        (click)="switchToCodeMode()"
        *ngIf="!codeMode"
        class="text-blue-500 hover:text-primary text-2xl cursor-pointer"
        i18n-title
        title="Switch to code mode">
        <fa-icon [icon]="faCode"></fa-icon>
      </a>
      <a
        (click)="switchToNoCodeMode()"
        *ngIf="codeMode"
        class="text-blue-500 hover:text-primary text-2xl cursor-pointer"
        i18n-title
        title="Switch to no-code mode">
        <fa-icon [icon]="faList"></fa-icon>
      </a>
      <a
        *ngIf="showCloseIcon"
        [routerLink]="['..']"
        class="text-blue-500 hover:text-primary text-2xl cursor-pointer ml-4"
        i18n-title
        title="Close zone detail view">
        <fa-icon [icon]="faClose"></fa-icon>
      </a>
    </div>
  </div>

  <div *ngIf="!codeMode" class="flex flex-wrap border-top-1 surface-border">
    <ul class="w-full list-none p-0 m-0 surface-border">
      <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>Cloud Provider</div>
        <div class="text-900 w-full md:w-9">
          {{ zone.data.cloudProvider.name }} -
          {{ zone.data.cloudProvider.region }}
          <p-tag
            *ngFor="let zone of zone.data.cloudProvider.zones"
            [rounded]="true"
            [value]="zone"
            styleClass="mr-2"></p-tag>
        </div>
      </li>

      <li class="flex align-items-center py-2 px-2 flex-wrap zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>CName</div>
        <div class="text-900 w-full md:w-9 flex">
          {{ zone.data.cname }}
          <fa-icon
            [cdkCopyToClipboard]="zone.data.cname"
            [icon]="faClipboard"
            class="text-300 cursor-pointer hover:text-500 ml-2"></fa-icon>
        </div>
      </li>

      <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>Default App Domain</div>
        <div class="text-900 w-full md:w-9 line-height-3 flex">
          {{ zone.data.defaultAppDomain }}
          <fa-icon
            [cdkCopyToClipboard]="zone.data.defaultAppDomain"
            [icon]="faClipboard"
            class="text-300 cursor-pointer hover:text-500 ml-2"></fa-icon>
        </div>
      </li>

      <li class="flex align-items-center py-2 px-2 flex-wrap zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>Features</div>
        <div class="text-900 w-full md:w-9">
          <p-tag
            *ngFor="let feature of zone.data.features | zoneFeatures"
            [rounded]="true"
            [style]="{ 'background-color': feature.backgroundColor, color: feature.textColor }"
            [value]="feature.label"
            styleClass="mr-1 mb-1"></p-tag>
        </div>
      </li>

      <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>Gateway IPs</div>
        <div class="text-900 w-full md:w-9">
          <p-tag *ngFor="let ip of zone.data.gatewayIPs" [rounded]="true" [value]="ip" styleClass="mr-1 mb-1"></p-tag>
        </div>
      </li>

      <li *ngFor="let url of zone.data.urls | keyvalue" class="flex align-items-center py-2 px-2 flex-wrap zone-row">
        <div class="text-500 w-full md:w-3 font-medium" i18n>{{ url.key | zoneUrlLabel }}</div>
        <div class="text-900 w-full md:w-9 flex break-word">
          <a [href]="url.value" class="text-blue-500 no-underline">
            {{ url.value }}
          </a>
          <fa-icon
            [cdkCopyToClipboard]="url.value"
            [icon]="faClipboard"
            class="text-300 cursor-pointer hover:text-500 ml-2"></fa-icon>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="codeMode" class="bg-gray-700 text-white p-3 border-round relative zone-row overflow-scroll">
    <pre>{{ zone.data | json }}</pre>
    <fa-icon
      [cdkCopyToClipboard]="zone.data | json"
      [icon]="faClipboard"
      class="text-400 cursor-pointer hover:text-500 ml-2 absolute right-0 top-0 mr-3 mt-2"></fa-icon>
  </div>
</div>
