<ng-container *ngrxLet="zone$ as zone; suspenseTpl: loading; error as err">
  <h1 class="pt-0 mt-0" i18n id="zone-details-title">Zone Details</h1>
  <app-zone-detail *ngIf="!err" [zone]="zone"></app-zone-detail>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="zone-failure-message">Zone could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
