<div class="surface-card p-4 shadow-2 border-round mb-4">
  <h1 class="pt-0 mt-0" i18n id="kubeconfig-title">Connect to APPUiO Control API</h1>
  <div>
    <p i18n>
      Configure access to the {{ envName }} instance of the APPUiO control API by downloading / copying the below
      kubeconfig and importing it into kubectl.
    </p>
    <h2 i18n>1. Prerequisites</h2>
    <ul>
      <li><a i18n href="https://kubernetes.io/docs/tasks/tools/#kubectl" target="_blank">kubectl</a></li>
      <li><a i18n href="https://github.com/int128/kubelogin#setup" target="_blank">kubectl oidc-login plugin</a></li>
    </ul>
  </div>
  <h2 i18n>2. Download Kubeconfig</h2>
  <div
    *ngIf="configYml$ | ngrxPush | replaceValues: replacements as configYml"
    class="bg-gray-700 text-white p-3 border-round relative zone-row">
    <pre data-cy="kubeconfig">{{ configYml }}</pre>
    <span class="cursor-pointer hover:text-500 ml-2 absolute right-0 top-0 mr-3 mt-2">
      <fa-icon
        [cdkCopyToClipboard]="configYml"
        [icon]="faClipboard"
        class="mr-2 text-white"
        i18n-title
        title="Copy Kubeconfig to Clipboard"></fa-icon>
      <a
        download="kubeconfig.yml"
        [href]="getDataUri(configYml)"
        i18n-title
        title="Download Kubeconfig"
        class="text-white">
        <fa-icon [icon]="faDownload" class=""></fa-icon>
      </a>
    </span>
  </div>
  <h2 i18n>3. Import into kubectl</h2>
  <div i18n>
    By default,
    <code>kubectl</code>
    looks for a file named
    <code>config</code>
    in the
    <code>$HOME/.kube</code>
    directory. You can specify other kubeconfig files by setting the
    <code>KUBECONFIG</code>
    environment variable or by setting the
    <code>--kubeconfig</code>
    flag.
  </div>
</div>
