<ng-container *ngrxLet="organization$ as organization; suspenseTpl: loading; error as err">
  <ng-container *ngIf="organization">
    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          <span *ngIf="isNew; else isNotNew" i18n>New Organization</span>
          <ng-template #isNotNew>
            {{ organization.metadata.name }}
          </ng-template>
        </div>
        <a [routerLink]="['..']" class="text-blue-500 hover:text-primary text-2xl cursor-pointer">
          <fa-icon [icon]="faClose"></fa-icon>
        </a>
      </div>
      <div class="border-top-1 surface-border">
        <app-organization-form [new]="isNew" [organization]="organization"></app-organization-form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="failure-message">Organization could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>

</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
