<div class="flex align-items-center flex-column relative bg-white text-color">
  <a
    class="px-3 py-2 flex align-items-center align-self-end hover:bg-primary cursor-pointer hover:text-blue-50 transition-duration-150 transition-colors"
    style="height: 59px"
    enterActiveClass="slidedown"
    enterClass="hidden"
    leaveActiveClass="slideup"
    leaveToClass="hidden"
    pRipple
    pStyleClass="#info-dropdown"
    [hideOnOutsideClick]="true">
    <div i18n class="flex flex-column">
      <fa-icon [icon]="faQuestion" [size]="'lg'" i18-title title="Info"></fa-icon>
    </div>
  </a>
  <div
    id="info-dropdown"
    class="hidden m-0 z-1 origin-top animation-duration-150 overflow-hidden animation-ease-in-out absolute top-100 bg-blue-500">
    <ul class="list-none fixed left-0 right-0 sm:static sm:min-w-max p-0 m-0 surface-border">
      <ng-container *ngFor="let reference of references; let even = even">
        <a *ngIf="reference.href" [href]="reference.href" target="_blank" class="no-underline text-white">
          <app-info-menu-item [item]="reference" [even]="even"></app-info-menu-item>
        </a>
        <a
          *ngIf="reference.routerLink"
          [routerLink]="reference.routerLink"
          class="no-underline text-white"
          leaveToClass="hidden"
          pStyleClass="#info-dropdown"
          leaveActiveClass="slideup">
          <app-info-menu-item [item]="reference" [even]="even"></app-info-menu-item>
        </a>
      </ng-container>
    </ul>
  </div>
</div>
