<ng-container *ngrxLet="payload$ as payload; suspenseTpl: loading; error as err">
  <ng-container *ngIf="payload">
    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          <span i18n>User Preferences</span>
        </div>
      </div>
      <div class="border-top-1 surface-border">

        <form (submit)="save(payload.user)" [formGroup]="form" class="grid formgrid p-fluid py-2" novalidate>
          <div class="col-12 mb-2">
            <p-message
              i18n-text
              severity="info"
              text="If an organization is missing, make sure you are a member of it."
            />
          </div>
          <div class="field mb-4 col-12">
            <label for="defaultOrganizationRef" i18n>Default Organization</label>
            <p-dropdown
              [dataKey]="'value'"
              [formControl]="form.controls.defaultOrganizationRef"
              [options]="payload.organizationSelectItems"
              placeholder="None"
              i18n-placeholder
              [filter]="true"
              [showClear]="true"
              [optionLabel]="'label'"
              id="defaultOrganizationRef"
            />
          </div>
          <div class="col-12">
            <button
              [disabled]="form.invalid"
              [loading]="(userService.loading$ | ngrxPush)?? false"
              class="w-auto mt-3"
              pButton pRipple type="submit"
            >
              <fa-icon [icon]="faSave" class="pr-2"/>
              <span class="pr-2" i18n>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="warn">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"/>
        <div class="ml-2" i18n id="failure-message">
          User settings could not be loaded.
          If you're a new user, please try again later, as your settings might take a while to initialize.
        </div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
