<div class="flex flex-row flex-wrap justify-content-between mb-2 gap-2">
  <h1 class="pt-0 mt-0 mb-0" i18n id="organizations-title">Organizations</h1>

  <div class="flex flex-wrap gap-2">
    <div>
      <button
        (click)="openJoinOrganizationDialog()"
        class="mr-2 w-full white-space-nowrap"
        id="joinOrganizationButton"
        pButton
        pRipple>
        <fa-icon [icon]="faSitemap" class="mr-2"></fa-icon>
        <span i18n>Join Organization</span>
      </button>
    </div>

    <ng-container *ngIf="hasCreatePermission$ | ngrxPush">
      <div>
        <button [routerLink]="['$new']" class="w-full white-space-nowrap" id="addOrganizationButton" pButton pRipple>
          <fa-icon [icon]="faAdd" class="mr-2"></fa-icon>
          <span i18n>Add new Organization</span>
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="organizationService.entities$">
  <ng-container *ngFor="let organization of organizationService.entities$ | async; index as i">
    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          {{ organization.metadata.name }}
        </div>
        <div>
          <a
            *ngIf="organization?.viewMembers"
            [routerLink]="[organization.metadata.name, 'members']"
            class="text-blue-500 hover:text-primary cursor-pointer mr-2"
            i18n-title
            title="Edit members">
            <fa-icon [icon]="faUserGroup"></fa-icon>
          </a>
          <a
            *ngIf="organization?.editOrganization"
            [routerLink]="[organization.metadata.name]"
            class="text-blue-500 hover:text-primary cursor-pointer"
            i18n-title
            title="Edit organization">
            <fa-icon [icon]="faEdit"></fa-icon>
          </a>
        </div>
      </div>

      <div class="flex flex-wrap border-top-1 surface-border">
        <ul class="w-full list-none p-0 m-0 surface-border">
          <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
            <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
            <div class="text-900 w-full md:w-9">
              {{ organization.spec.displayName }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="organizationService.loading$ | async">
    <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
      </div>

      <div class="flex flex-wrap border-top-1 surface-border">
        <ul class="w-full list-none p-0 m-0 surface-border">
          <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
            <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
            <div class="text-900 w-full md:w-9">&#8230;</div>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isEmpty() | async">
    <p-messages severity="info">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faInfo"></fa-icon>
        <div class="ml-2" i18n id="no-organization-message">No organizations available.</div>
      </ng-template>
    </p-messages>
  </ng-container>

  <ng-container *ngIf="organizationService.errors$ | async">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="organization-failure-message">Organizations could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>
