<form (submit)="save()" [formGroup]="form" class="grid formgrid p-fluid py-2" novalidate>
  <div class="field mb-4 col-12">
    <label for="displayName" class="font-bold" i18n>Display Name</label>
    <input formControlName="displayName" id="displayName" pInputText type="text" autofocus />
  </div>

  <div *ngIf="new" class="col-12 mb-2">
    <p-message i18n-text severity="info" text="The ID of an organization can not be changed later."></p-message>
  </div>

  <div *ngIf="new" class="field mb-4 col-12">
    <label class="required font-normal" for="id" i18n>Organization ID</label>
    <input formControlName="organizationId" id="id" pInputText type="text" />
    <small *ngIf="form.get('organizationId')?.hasError('alreadyExists')" class="block p-error" i18n>
      An organization with the same ID already exists.
    </small>
    <small *ngIf="form.get('organizationId')?.hasError('pattern')" class="block p-error" i18n>
      The organization ID must be a lowercase RFC 1123 label with the pattern
      <code>(([a-z0-9][-a-z0-9]*)?[a-z0-9])?</code>
      .
    </small>
  </div>

  <div class="col-12">
    <button [disabled]="form.invalid" [loading]="saving" class="w-auto mt-3" pButton pRipple type="submit">
      <fa-icon [icon]="faSave" class="pr-2"></fa-icon>
      <span class="pr-2" i18n>Save</span>
    </button>
  </div>
</form>
