<div class="min-h-screen flex surface-ground">
  <div
    class="bg-blue-500 h-screen hidden lg:block flex-shrink-0 fixed lg:sticky left-0 top-0 z-1 select-none"
    id="app-sidebar"
    style="width: 280px">
    <div class="flex flex-column h-full">
      <div class="flex align-items-center px-5 flex-shrink-0" style="height: 60px">
        <img alt="APPUiO Cloud Logo" class="pt-3 h-full" src="assets/logo.svg" />
      </div>
      <div class="overflow-y-auto mt-3">
        <ul class="list-none p-3 m-0">
          <li *ngFor="let menuItem of menuItems">
            <app-navbar-item [menuItem]="menuItem"></app-navbar-item>
          </li>
        </ul>
      </div>
      <div class="mt-auto mx-auto pb-5">
        <app-status-badge></app-status-badge>
      </div>
    </div>
  </div>
  <div class="min-h-screen flex flex-column relative flex-auto">
    <div
      class="flex justify-content-between align-items-center px-5 surface-section shadow-2 relative lg:static border-bottom-1 surface-border"
      style="height: 60px">
      <div class="flex">
        <a
          [hideOnOutsideClick]="true"
          class="cursor-pointer block lg:hidden text-700 mr-3"
          enterActiveClass="fadeinleft"
          enterClass="hidden"
          leaveActiveClass="fadeoutleft"
          leaveToClass="hidden"
          pRipple
          pStyleClass="#app-sidebar">
          <i class="pi pi-bars text-4xl"></i>
        </a>
        <app-organization-selection *ngIf="selectOrganizationSelectionEnabled$ | ngrxPush"></app-organization-selection>
      </div>
      <div class="flex h-full">
        <app-info-menu></app-info-menu>
        <app-identity-menu
          [username]="username"
          [name]="name"
          [avatarSrc]="avatarSrc"
          class="h-full"></app-identity-menu>
      </div>
    </div>
    <div class="p-5 flex flex-column flex-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-toast></p-toast>
<app-first-time-login-dialog></app-first-time-login-dialog>
<p-confirmDialog></p-confirmDialog>
