<div class="flex flex-row flex-wrap justify-content-between mb-2 gap-2">
  <h1 class="pt-0 mt-0 mb-0" i18n id="organizations-title">Invitations</h1>
</div>

<ng-container *ngrxLet="payload$ as payload; suspenseTpl: loading; error as err">
  <ng-container *ngIf="payload">
    <ng-container *ngFor="let vm of payload.invitations; index as i">
      <div class="surface-card p-4 shadow-2 border-round mb-4">
        <div class="flex flex-row justify-content-between">
          <div class="text-3xl font-medium text-900 mb-3">
            {{ vm.model.spec.email }}
          </div>
        </div>
        <div class="flex flex-wrap border-top-1 surface-border">
          <ul class="w-full list-none p-0 m-0 surface-border">
            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>ID</div>
              <div class="text-900 w-full md:w-9">
                {{ vm.model.metadata.name }}
              </div>
            </li>
            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Note</div>
              <div class="text-900 w-full md:w-9">
                {{ vm.model.spec.note }}
              </div>
            </li>

            <li *ngIf="vm.model.status?.validUntil" class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>{{ vm.hasExpired ? 'Expired' : 'Expires' }}</div>
              <div class="text-900 w-full md:w-9">
                {{ vm.expires }}
              </div>
            </li>

            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Status</div>
              <div class="text-900 w-full md:w-9">
                <p-tag
                  *ngFor="let condition of vm.model.status?.conditions"
                  [rounded]="true"
                  [severity]="severityOfCondition(condition)"
                  [value]="condition.message ?? ''"
                  styleClass="mr-2"/>
              </div>
            </li>

            <p-table [value]="vm.permissionTable" styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th class="p-2">Name</th>
                  <th>Viewer</th>
                  <th>Admin</th>
                  <th>Teams</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-permission>
                <tr>
                  <td>
                    <a pButton [routerLink]="['/', permission.kind, permission.slug]"
                       class="p-2 white-space-nowrap no-underline">
                      <span class="pr-1">
                        <ng-container [ngSwitch]="permission.kind">
                          <fa-icon *ngSwitchCase="'organizations'" [icon]="faSitemap"/>
                          <fa-icon *ngSwitchCase="'billingentities'" [icon]="faDollarSign"/>
                        </ng-container>
                      </span>
                      {{ permission.displayName ? permission.displayName : permission.slug }}
                    </a>
                  </td>
                  <td>
                    <fa-icon *ngIf="permission.viewer" [icon]="faCheck"/>
                  </td>
                  <td>
                    <fa-icon *ngIf="permission.admin" [icon]="faCheck"/>
                  </td>
                  <td>
                    <ng-container *ngFor="let team of permission.teams">
                      <a pButton [routerLink]="['/teams', permission.slug, team.slug]"
                         class="p-2 white-space-nowrap no-underline">
                      <span class="pr-1">
                          <fa-icon [icon]="faUserGroup"/>
                      </span>
                        {{ team.displayName ? team.displayName : team.slug }}
                      </a>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="payload?.invitations?.length === 0 && !err">
    <p-messages severity="info">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faInfo"/>
        <div class="ml-2" i18n id="no-organization-message">No invitations available.</div>
      </ng-template>
    </p-messages>
  </ng-container>


  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"/>
        <div class="ml-2" i18n id="failure-message">Invitations could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>

</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
