<div class="text-white">
  <ng-container *ngIf="!menuItem.items">
    <a
      (click)="menuItem.command($event)"
      *ngIf="menuItem.command"
      class="flex align-items-center cursor-pointer p-3 hover:bg-primary hover:text-blue-50 transition-duration-150 transition-colors"
      pRipple>
      <i [ngClass]="menuItem.icon ?? ''" class="mr-2"></i>
      <span class="font-medium">{{ menuItem.label }}</span>
    </a>
    <a
      *ngIf="menuItem.routerLink"
      [routerLinkActive]="'active'"
      [routerLink]="menuItem.routerLink"
      class="flex align-items-center cursor-pointer p-3 hover:bg-primary hover:text-blue-50 transition-duration-150 transition-colors no-underline text-white"
      pRipple>
      <i [ngClass]="menuItem.icon ?? ''" class="mr-2"></i>
      <span class="font-medium">{{ menuItem.label }}</span>
    </a>
  </ng-container>
</div>

<a
  *ngIf="menuItem.items"
  class="flex align-items-center cursor-pointer p-3 hover:bg-primary text-white hover:text-blue-50 transition-duration-150 transition-colors"
  enterActiveClass="slidedown"
  enterClass="hidden"
  leaveActiveClass="slideup"
  leaveToClass="hidden"
  pRipple
  pStyleClass="@next">
  <i [ngClass]="menuItem.icon ?? ''" class="mr-2"></i>
  <span class="font-medium">{{ menuItem.label }}</span>
  <i class="pi pi-chevron-down ml-auto"></i>
</a>
<ul
  class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
  <li *ngFor="let subMenuItem of menuItem.items">
    <app-navbar-item [menuItem]="subMenuItem"></app-navbar-item>
  </li>
</ul>
