<ng-container *ngIf="!menuItem.items">
  <a *ngIf="menuItem.command"
     (click)="menuItem.command($event)"
     class="flex align-items-center cursor-pointer p-3 hover:bg-primary text-white hover:text-blue-50
                            transition-duration-150 transition-colors" pRipple>
    <i class="mr-2"
       [ngClass]="menuItem.icon ?? ''"></i>
    <span class="font-medium">{{menuItem.label}}</span>
  </a>
  <a *ngIf="menuItem.routerLink"
     [routerLink]="menuItem.routerLink"
     class="flex align-items-center cursor-pointer p-3 hover:bg-primary text-white hover:text-blue-50
                            transition-duration-150 transition-colors no-underline" pRipple>
    <i class="mr-2"
       [ngClass]="menuItem.icon ?? ''"></i>
    <span class="font-medium">{{menuItem.label}}</span>
  </a>
</ng-container>


<a *ngIf="menuItem.items"
   class="flex align-items-center cursor-pointer p-3 hover:bg-primary text-white hover:text-blue-50
                            transition-duration-150 transition-colors" enterActiveClass="slidedown"
   enterClass="hidden" leaveActiveClass="slideup" leaveToClass="hidden" pRipple
   pStyleClass="@next">
  <i class="mr-2"
     [ngClass]="menuItem.icon ?? ''"></i>
  <span class="font-medium">{{menuItem.label}}</span>
  <i class="pi pi-chevron-down ml-auto"></i>
</a>
<ul
  class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">
  <li *ngFor="let subMenuItem of menuItem.items">
    <app-navbar-item [menuItem]="subMenuItem"></app-navbar-item>
  </li>
</ul>
