<h1 class="pt-0 mt-0" i18n id="zones-title">User Settings</h1>

<ng-container *ngIf="user$ | ngrxPush as user">
  <ng-container *ngIf="user.state === EntityState.Loaded; else loading">
    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          <span i18n>User Preferences</span>
        </div>
      </div>
      <div class="border-top-1 surface-border">
        <app-default-organization-form></app-default-organization-form>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>

    <div class="flex flex-wrap border-top-1 surface-border">
      <ul class="w-full list-none p-0 m-0 surface-border">
        <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
          <div class="text-500 w-full md:w-3 font-medium" i18n>TODO</div>
          <div class="text-900 w-full md:w-9">&#8230;</div>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
