<ng-container *ngrxLet="payload$ as payload; suspenseTpl: loading; error as err">
  <ng-container *ngIf="payload && payload.organization">
    <div class="flex flex-row flex-wrap justify-content-between mb-4">
      <h1 class="pt-0 mt-0" i18n id="teams-title">Teams</h1>

      <div class="flex flex-wrap gap-2">
        <div>
          <button (click)="openJoinTeamDialog()" class="mr-2" id="joinTeamButton" pButton pRipple>
            <fa-icon [icon]="faUserGroup" class="mr-2"></fa-icon>
            <span i18n>Join Team</span>
          </button>
        </div>

        <ng-container *ngIf="payload.canCreate">
          <div>
            <button
              [routerLink]="[payload.organization.metadata.name, '$new']"
              class=""
              id="addTeamButton"
              pButton
              pRipple>
              <fa-icon [icon]="faAdd" class="mr-2"></fa-icon>
              <span i18n>Add new Team</span>
            </button>
          </div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngFor="let team of payload.teams; index as i">
      <div class="surface-card p-4 shadow-2 border-round mb-4">
        <div class="flex flex-row justify-content-between">
          <div class="text-3xl font-medium text-900 mb-3">
            {{ team | displayName }}
          </div>
          <div>
            <a
              *ngIf="payload.canDelete"
              (click)="deleteTeam(team)"
              class="text-blue-500 hover:text-primary cursor-pointer mr-2"
              i18n-title
              title="Delete team">
              <fa-icon [icon]="faTrash"></fa-icon>
            </a>
            <a
              *ngIf="payload.canEdit"
              [routerLink]="[payload.organization.metadata.name, team.metadata.name]"
              class="text-blue-500 hover:text-primary cursor-pointer"
              i18n-title
              title="Edit team">
              <fa-icon [icon]="faEdit"></fa-icon>
            </a>
          </div>
        </div>

        <div class="flex flex-wrap border-top-1 surface-border">
          <ul class="w-full list-none p-0 m-0 surface-border">
            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>ID</div>
              <div class="text-900 w-full md:w-9">
                {{ team.metadata.name }}
              </div>
            </li>
            <li class="flex align-items-center py-2 px-2 flex-wrap surface-ground">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Display Name</div>
              <div class="text-900 w-full md:w-9">
                {{ team.spec.displayName }}
              </div>
            </li>
            <li class="flex align-items-center py-2 px-2 flex-wrap">
              <div class="text-500 w-full md:w-3 font-medium" i18n>Members</div>
              <div class="text-900 w-full md:w-9">
                <ul *ngFor="let user of team.spec.userRefs" class="pl-3">
                  <li>{{ user.name }}</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="payload?.teams?.length === 0 && !err">
    <p-messages severity="info">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faInfo"></fa-icon>
        <div class="ml-2" i18n id="no-teams-message">No teams available.</div>
      </ng-template>
    </p-messages>
  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="teams-failure-message">Teams could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
