<form (submit)="save()" [formGroup]="form" class="flex flex-column p-fluid">
  <div class="">
    <div class="field mb-4 col-12">
      <label for="email" class="font-bold required" i18n>Email</label>
      <input formControlName="email" id="email" pInputText type="email"/>
    </div>
    <div class="field mb-4 col-12">
      <label for="note" i18n>Note</label>
      <input formControlName="note" id="note" pInputText type="text"/>
    </div>

    <div class="mb-4 col-12" *ngIf="canInviteOrganization" id="organizationFormGroup">
      <div class="hidden md:grid md:flex">
        <label class="col-5" i18n>Organization</label>
        <label class="col-1 text-center" i18n>Viewer</label>
        <label class="col-1 text-center" i18n>Admin</label>
        <label class="col-4" i18n>Team Memberships</label>
      </div>
      <div *ngFor="let control of this.form.controls.organizationTargets.controls; let i = index; let last = last"
           [formGroup]="$any(control)" class="mb-3 grid formgrid">
        <div class="field col-11 md:col-5">
          <label i18n for="organization" class="md:hidden">Organization</label>
          <p-dropdown
            formControlName="organization"
            optionLabel="displayName"
            [options]="organizationOptions"
            [styleClass]="'w-full'"
            placeholder="Select Organization"
            [filter]="true"
            i18n-placeholder
          />
        </div>
        <div class="field-checkbox col-1 md:justify-content-center min-w-min">
          <label i18n for="isViewer" class="md:hidden">Viewer</label>
          <p-checkbox formControlName="isViewer" [binary]="true" styleClass="m-1"/>
        </div>
        <div class="field-checkbox col-1 md:justify-content-center min-w-min">
          <label i18n for="isAdmin" class="md:hidden">Admin</label>
          <p-checkbox formControlName="isAdmin" [binary]="true" styleClass="m-1"/>
        </div>

        <div class="field col-4">
          <label i18n for="teams" class="md:hidden">Team Memberships</label>
          <p-multiSelect
            formControlName="teams"
            [options]="control.controls.selectableTeams.value ?? []"
            optionLabel="metadata.name"
            placeholder="Select Teams"
            [styleClass]="'w-full'"
            emptyMessage="No teams found in this organization"
            i18n-placeholder
            display="chip"
          />
        </div>
        <div class="field col-11 md:col-1 md:max-w-min min-w-min">
          <button
            (click)="removeOrganization(i)"
            *ngIf="!last; else noButton"
            class="p-button"
            i18n-title
            pButton
            pRipple
            tabindex="1"
            title="Remove"
            type="button"
          >
            <fa-icon [icon]="faClose"/>
            <span class="ml-1 md:hidden sm:white-space-nowrap" i18n>Remove Organization</span>
          </button>
        </div>
        <ng-template #noButton>
          <div class="ml-3 w-3rem"></div>
        </ng-template>
      </div>
    </div>

    <div class="mb-4 col-12" *ngIf="canInviteBilling" id="billingFormGroup">
      <div class="hidden md:grid md:flex">
        <label class="col-5" i18n>Billing</label>
        <label class="col-1 text-center" i18n>Viewer</label>
        <label class="col-1 text-center" i18n>Admin</label>
      </div>
      <div *ngFor="let control of this.form.controls.billingTargets.controls; let i = index; let last = last"
           [formGroup]="$any(control)" class="mb-3 grid formgrid">
        <div class="field col-11 md:col-5">
          <label i18n for="billing" class="md:hidden">Billing</label>
          <p-dropdown
            formControlName="billing"
            optionLabel="displayName"
            [options]="billingOptions"
            [styleClass]="'w-full'"
            placeholder="Select Billing"
            i18n
          />
        </div>
        <div class="field-checkbox col-1 md:justify-content-center min-w-min">
          <label i18n for="isViewer" class="md:hidden">Viewer</label>
          <p-checkbox [formControl]="control.controls.isViewer" [binary]="true" styleClass="m-1" value="Viewer"/>

        </div>
        <div class="field-checkbox col-1 md:justify-content-center min-w-min">
          <label i18n for="isAdmin" class="md:hidden">Admin</label>
          <p-checkbox [formControl]="control.controls.isAdmin" [binary]="true" styleClass="m-1" value="Admin"/>
        </div>
        <div class="field-checkbox col-4">
          <small *ngIf="control.controls.isViewer.hasError('atLeastOneRequired')" class="block p-error" i18n>
            Select at least one role
          </small>
        </div>
        <div class="field col-1 md:col-1 md:max-w-min min-w-min">
          <button
            (click)="removeBilling(i)"
            *ngIf="!last; else noButton"
            class="p-button"
            i18n-title
            pButton
            pRipple
            tabindex="1"
            title="Remove"
            type="button">
            <fa-icon [icon]="faClose"/>
            <span class="ml-1 md:hidden sm:white-space-nowrap" i18n>Remove Billing</span>
          </button>
        </div>
        <ng-template #noButton>
          <div class="ml-3 w-3rem"></div>
        </ng-template>
      </div>
    </div>

    <div class="col-12">
      <button [disabled]="form.invalid" [loading]="(invitationService.loading$ | ngrxPush) ?? false" class="w-auto mt-3" pButton pRipple type="submit">
        <fa-icon [icon]="faGift" class="pr-2" />
        <span class="pr-2" i18n>Invite</span>
      </button>
      <small *ngIf="form.hasError('atLeastOneSelected')" class="block p-error mt-3" i18n>
        Please select at least one element
      </small>
    </div>
  </div>
</form>
