<ng-container *ngrxLet="team$ as team; suspenseTpl: loading; error as err">
  <ng-container *ngIf="team">

    <div class="surface-card p-4 shadow-2 border-round mb-4">
      <div class="flex flex-row justify-content-between">
        <div class="text-3xl font-medium text-900 mb-3">
          <span *ngIf="new; else isNotNew" i18n>New Team</span>
          <ng-template #isNotNew>
            {{ team.metadata.name }}
          </ng-template>
        </div>
        <a appBackLink class="text-blue-500 hover:text-primary text-2xl cursor-pointer">
          <fa-icon [icon]="faClose"></fa-icon>
        </a>
      </div>
      <div class="border-top-1 surface-border">
        <form (submit)="save(team)" [formGroup]="form" class="grid formgrid p-fluid py-2" novalidate>
          <div *ngIf="new" class="col-12 mb-2">
            <p-message i18n-text severity="info" text="The name of a team can not be changed later."></p-message>
          </div>
          <div *ngIf="new" class="field mb-4 col-12">
            <label class="required" for="name" i18n>Name</label>
            <input formControlName="name" id="name" pInputText type="text"/>
            <small *ngIf="form.get('name')?.hasError('alreadyExists')" class="block p-error" i18n>
              A team with the same name already exists.
            </small>
            <small *ngIf="form.get('name')?.hasError('pattern')" class="block p-error" i18n>
              The format of the team name must be a lowercase RFC 1123 subdomain containing only lower case alphanumeric
              characters, '-' or '.'
            </small>
          </div>

          <div class="field mb-4 col-12">
            <label for="displayName" i18n>Display Name</label>
            <input formControlName="displayName" id="displayName" pInputText type="text"/>
          </div>

          <div class="col-12 mb-2">
            <p-message
              i18n-text
              severity="info"
              text="List all user names that should have access to this team."></p-message>
          </div>

          <div class="field mb-4 col-12">
            <label i18n>Members</label>
            <div
              *ngFor="let control of userRefs.controls; let i = index; let last = last"
              [class.mb-3]="!last"
              class="flex-auto flex">
              <input [formControl]="$any(control)" class="flex-auto" pInputText tabindex="0" type="text"/>
              <button
                (click)="removeFormControl(i)"
                *ngIf="!last; else noButton"
                class="p-button-icon-only ml-3"
                i18n-title
                pButton
                pRipple
                tabindex="1"
                title="Remove"
                type="button">
                <fa-icon [icon]="faClose"></fa-icon>
              </button>
              <ng-template #noButton>
                <div class="ml-3 w-3rem"></div>
              </ng-template>
            </div>
          </div>

          <div class="col-12">
            <button [disabled]="form.invalid" [loading]="(teamService.loading$ | ngrxPush)?? false" class="w-auto mt-3"
                    pButton pRipple type="submit">
              <fa-icon [icon]="faSave" class="pr-2"></fa-icon>
              <span class="pr-2" i18n>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="failure-message">Organization or Billing entities could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>


</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
