/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import 'style/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

@keyframes blink {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.05;
  }
}

.blink {
  animation: blink 2500ms ease-in-out infinite;
}

.required {
  font-weight: bold;

  &:after {
    content: ' *';
  }
}

.p-inline-message {
  justify-content: left !important;
}

.break-word {
  word-break: break-all;
  overflow-wrap: break-word;
}

.max-h-90vh {
  max-height: 90vh;
}

.p-toast-icon-close {
  flex-shrink: 0;
}

.p-toast-message-icon {
  timescircleicon {
    display: none;
  }
}

.p-divider.p-divider-horizontal {
  padding: 0;
  margin-bottom: 0.625rem;
}

.p-divider-horizontal::before {
  right: 0.5rem;
  width: unset !important;
  left: 0.5rem !important;
  border-top: 1px var(--gray-400) solid !important;
}

.p-checkbox,
.p-checkbox-box {
  width: 24px !important;
  height: 24px !important;
}

::placeholder {
  opacity: 1;
}
