<li [class.bg-blue-500]="even" [class.bg-blue-700]="!even" class="flex py-3 px-3 flex-column hover:bg-blue-400">
  <div class="font-medium mb-2 text-primary white-space-nowrap">{{ item.label }}</div>
  <div *ngIf="item.href" class="flex no-wrap text-sm font-italic">
    <fa-icon [icon]="faExternal" class="mr-1"></fa-icon>
    {{ item.href }}
  </div>
  <div class="text-sm flex no-wrap">
    <fa-icon *ngIf="item.icon" [icon]="item.icon" class="mr-1"></fa-icon>
    {{ item.subTitle }}
  </div>
</li>
