<h1 class="pt-0 mt-0" i18n id="zones-title">Zones</h1>

<ng-container *ngIf="zones$ | ngrxPush as zones">
  <ng-container *ngFor="let zone of zones.value; index as i">
    <app-zone [zone]="zone"></app-zone>
  </ng-container>

  <ng-container *ngIf="isZoneListEmpty(zones)">
    <p-messages severity="info">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faInfo"></fa-icon>
        <div class="ml-2" i18n id="no-zone-message">No zones available.</div>
      </ng-template>
    </p-messages>
  </ng-container>

  <ng-container *ngIf="hasZoneLoadingFailed(zones)">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="zone-failure-message">Zones could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>
