<h1 class="pt-0 mt-0" i18n id="zones-title">Zones</h1>


<ng-container *ngrxLet="zones$ as zones; suspenseTpl: loading; error as err">
    <ng-container *ngFor="let zone of zones; index as i">
      <app-zone-detail [zone]="zone" [linkToDetailView]="true" [showCloseIcon]="false"></app-zone-detail>
    </ng-container>

  <ng-container *ngIf="zones?.length === 0 && !err">
    <p-messages severity="info">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faInfo"></fa-icon>
        <div class="ml-2" i18n id="no-zone-message">No zones available.</div>
      </ng-template>
    </p-messages>
  </ng-container>

  <ng-container *ngIf="err">
    <p-messages severity="error">
      <ng-template pTemplate="content">
        <fa-icon [icon]="faWarning"></fa-icon>
        <div class="ml-2" i18n id="zone-failure-message">Zones could not be loaded.</div>
      </ng-template>
    </p-messages>
  </ng-container>
</ng-container>

<ng-template #loading>
  <div class="surface-card p-4 shadow-2 border-round mb-4 blink">
    <div class="flex flex-row justify-content-between">
      <div class="text-3xl font-medium text-900 mb-3" i18n>Loading &#8230;</div>
    </div>
  </div>
</ng-template>
